.nav_bar {
	position: relative;
	bottom: 0;
	left: 0;
	overflow: hidden;
	height: 30px;


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	line-height: 40px;
	width: 100%;
	font-size: small;
	font-family: roboto-regular, arial, sans-serif;
}

li {
	display: inline;
	padding: 0 12px;
	margin: auto;
	vertical-align: center;
	height: 40px;
	overflow: hidden;
}

.lft {
	padding: 0 12px;
	float: right;
}

.lft li {
	display: inline;
}

.lft2 {
	padding: 0 12px;
	float: left;
	height: 40px;
}

.lft2 li {
	display: inline;
	height: 40%;
}

ul a {
	text-decoration: none;
	color: #777;
}

ul a:hover{
	text-decoration: underline;
}

}